head
  title Entry Form Optimization
  meta(charset='UTF-8')
  meta(content='', name='description')
  meta(content='', name='author')
  meta(content='width=device-width', name='viewport')

  link(href='css/style.css', rel='stylesheet')
  link(href='css/efo.css', rel='stylesheet')
  link(href='css/cosmetics.css', rel='stylesheet')